<div class="container">
  <h2>Realizar avaliação</h2>

  <div class="general-avaliation">
    <button>
      <app-svg-image
        [path]="'../../../assets/star-icon.svg'"
        [width]="'30px'"
        [height]="'30px'"
        [color]="'red'"
      />
    </button>
    <button>
      <app-svg-image
        [path]="'../../../assets/star-icon.svg'"
        [width]="'30px'"
        [height]="'30px'"
      />
    </button>
    <button>
      <app-svg-image
        [path]="'../../../assets/star-icon.svg'"
        [width]="'30px'"
        [height]="'30px'"
      />
    </button>
    <button>
      <app-svg-image
        [path]="'../../../assets/star-icon.svg'"
        [width]="'30px'"
        [height]="'30px'"
      />
    </button>
    <button>
      <app-svg-image
        [path]="'../../../assets/star-icon.svg'"
        [width]="'30px'"
        [height]="'30px'"
      />
    </button>
  </div>

  <button>Realizar avaliação</button>
</div>
