<div class="container">
  <h2>Realizar avaliação</h2>

  <div class="avaliations">
    <div *ngFor="let item of review.items; index as itemIndex" class="avaliation-category">
      <p>{{item.category}}</p>
      <div class="stars">
        <button 
          *ngFor="let isSelected of item.stars; index as starIndex;"
          (click)="doRate(itemIndex, starIndex)"
        >
          <app-svg-image 
            [path]="'../../../assets/star-icon.svg'" 
            [width]="'24px'" 
            [height]="'24px'"
            [color]="isSelected ? 'var(--yellow)' : 'var(--gray-var-2)'" 
          />
        </button>
      </div>
    </div>
  </div>

  <textarea placeholder="Conte-nos como foi a sua experiência...">{{review.comment}}</textarea>

  <button>Realizar avaliação</button>
</div>