<div class="customers-page-container">
  <app-breadcrumb [currentURI]="'Cliente'" />

  <ul class="menu">
    <li *ngFor="let category of availableCategories">
      <button
        [class.active]="isMenuActive(category[0])"
        (click)="changeActiveMenu(category[0])"
      >
        {{ category[1] }}
      </button>
    </li>
  </ul>

  <ul class="products">
    <li *ngFor="let product of products">
      <img
        src="{{ IMG_BASE_URL }}/{{ product.url }}"
        alt="{{ product.category }}}"
      />
      <div>
        <strong>{{ product.name }}</strong>
        <p>{{ product.ingredients }}</p>
      </div>
      <p>{{ product.price | currency : "BRL" : "symbol-narrow" }}</p>
    </li>
  </ul>

  <div class="pagination">
    <app-pagination
      (activePageEvent)="changeCurrentPage($event)"
      [totalPages]="totalPages"
    />
  </div>
</div>

<aside>
  <div class="item">
    <button (click)="toggleExpanded(0)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Histórico
    </button>
    <div class="expandable" [class.expanded]="expandedItems[0]">
      <ul>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> R$ 65,80</p>
        </li>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> R$ 65,80</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="item">
    <button (click)="toggleExpanded(1)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Em andamento
    </button>
    <div class="expandable" [class.expanded]="expandedItems[1]">
      <ul>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> 65,80</p>
          <p><b>Status:</b>Sendo preparado</p>
        </li>
      </ul>
    </div>
  </div>

  <p class="total-cost">
    <span>Valor total:</span>
    <b>R$ 140,00</b>
  </p>
</aside>
